{% extends 'base.html' %}
{% load systemtags %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-danger pull-right"><span class="fa fa-filter"></span> Filter</a>
            <h4 class="page-header-helios margin-top-helios margin-bottom-helios">Host List</h4>

            <div class="well well-sm hidden">filter</div>
            {% for hosts in listHost %}
                {% if forloop.first %}
                    <div class="row">
                {% endif %}
                    <div class="col-xs-6 col-md-2" id="{{ hosts.hostInfo.hostname }}">
                        <a href="{% url 'detailsHost' hosts.hostInfo.hostname %}" class="helios-thumbnail" data-helios-host="{{ hosts.hostInfo.hostname }}"
                           data-container="body" data-toggle="popover"
                           data-placement="bottom" data-html="true"
                           data-content="<strong>Status:</strong> {{ hosts.status|lower }}<br><strong>Uptime:</strong> {{ hosts.agentInfo.uptime|humanDuration }}<br><strong>Jobs:</strong> {{ hosts.jobs|length }}<br><strong>Arch:</strong> {{ hosts.hostInfo.architecture }}<br><strong>Memory:</strong> {{ hosts.hostInfo.memoryTotalBytes|filesizeformat }}<br><strong>Memory Free:</strong> {{ hosts.hostInfo.memoryFreeBytes|filesizeformat }}<br><strong>Helios:</strong> {{ hosts.agentInfo.version }}<br><strong>Docker:</strong> {{ hosts.hostInfo.dockerVersion.version }}">
                            <img src="{{ STATIC_URL }}img/debian.png" alt="debian">
                            <div class="caption">
                                <h4>{{ hosts.hostInfo.hostname }}
                                    <div class="host-status-list-{{ hosts.status|lower }}"></div>
                                </h4>
                            </div>
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:6 %}</div>
                    <hr class="helios-hr">
                    <div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            {#            <table class="table table-striped">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th>Name</th>#}
            {#                    <th>Ip</th>#}
            {#                    <th>Jobs</th>#}
            {#                    <th>Arch</th>#}
            {#                    <th>Cpu</th>#}
            {#                    <th>Avg</th>#}
            {#                    <th>Memory</th>#}
            {#                    <th>Memory Free</th>#}
            {#                    <th>Swap</th>#}
            {#                    <th>Swap Free</th>#}
            {#                    <th>Uptime</th>#}
            {#                    <th>Helios</th>#}
            {#                    <th>Docker</th>#}
            {#                    <th>Status</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                {% for hosts in listHost %}#}
            {#                    <tr class="hostList cursor-pointer {% if hosts.status == 'DOWN' %}alert-danger{% endif %}" data-host="{{ hosts.hostInfo.hostname }}">#}
            {#                        <td>{{ hosts.agentInfo.name }}</td>#}
            {#                        <td>ip</td>#}
            {#                        <td>{{ hosts.jobs|length }}</td>#}
            {#                        <td>{{ hosts.hostInfo.architecture }}</td>#}
            {#                        <td>{{ hosts.hostInfo.cpus }}</td>#}
            {#                        <td>{{ hosts.hostInfo.loadAvg }}</td>#}
            {#                        <td>{{ hosts.hostInfo.memoryTotalBytes|filesizeformat }}</td>#}
            {#                        <td>{{ hosts.hostInfo.memoryFreeBytes|filesizeformat }}</td>#}
            {#                        <td>{{ hosts.hostInfo.swapTotalBytes|filesizeformat }}</td>#}
            {#                        <td>{{ hosts.hostInfo.swapFreeBytes|filesizeformat }}</td>#}
            {#                        <td>{{ hosts.agentInfo.uptime|humanDuration }}</td>#}
            {#                        <td>{{ hosts.agentInfo.version }}</td>#}
            {#                        <td>{{ hosts.hostInfo.dockerVersion.version }}</td>#}
            {#                        <td>{{ hosts.status|lower }}#}
            {#                        <div class="host-status-{{ hosts.status|lower }}"></div>#}
            {#                        </td>#}
            {#                    </tr>#}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/host.js"></script>
    <script src="{{ STATIC_URL }}js/helios.js"></script>
{% endblock %}