body{
    margin-top: 70px;
    margin-bottom: 15px;
    /*font-family: 'Avenir Next LT Pro Condensed';*/
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/*Nav Bar custom for helios manager*/
.navbar-helios {
    background-color: #373737;
    border-bottom: solid 4px #F3645B;
}

.navbar-helios .navbar-brand img {
    /*color: #ffffff*/
    margin-top: -13px;
}

.navbar-helios .navbar-brand:hover, .navbar-helios .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent
}

.navbar-helios .navbar-text {
    color: #ffffff;
}

.navbar-helios .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-helios .navbar-nav > li > a:hover, .navbar-helios .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #555555;
}

.navbar-helios .navbar-nav > .active > a, .navbar-helios .navbar-nav > .active > a:hover, .navbar-helios .navbar-nav > .active > a:focus {
    color: #ffff;
    background-color: #F3645B
}

.navbar-helios .navbar-nav > .disabled > a, .navbar-helios .navbar-nav > .disabled > a:hover, .navbar-helios .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-helios .navbar-toggle {
    border-color: #555555
}

.navbar-helios .navbar-toggle:hover, .navbar-helios .navbar-toggle:focus {
    background-color: #555555
}

.navbar-helios .navbar-toggle .icon-bar {
    background-color: #555555
}

.navbar-helios .navbar-collapse, .navbar-helios .navbar-form {
    border-color: #555555
}

.navbar-helios .navbar-nav > .open > a, .navbar-helios .navbar-nav > .open > a:hover, .navbar-helios .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #555555
}
/*end nav bar*/

/* page header helios*/
.page-header-helios {
    padding-bottom: 9px;
    margin: 0px 0 0px;
    border-bottom: 2px solid #373737;
    color: #373737;
    font-family: 'Roboto-light';
    font-size: 20px;
    font-weight: bold;
}

.margin-bottom-helios {
    margin-bottom: 15px;
}

.margin-top-helios {
    margin-top: 15px;
}
/**/

/*status of host*/
.host-status-up {
    background-color: #060;
    width: 11px;
    height: 11px;
    margin-top: -17px;
    border-radius: 6px;
    position: absolute;
    margin-left: 38px;
}
.host-status-down {
    background-color: #8C0000;
    width: 11px;
    height: 11px;
    margin-top: -17px;
    border-radius: 6px;
    position: absolute;
    margin-left: 38px;
}

.host-status-list-up {
    background-color: #060;
    width: 11px;
    height: 11px;
    margin-top: -17px;
    border-radius: 6px;
    position: absolute;
    margin-left: 134px;
}

.host-status-list-down {
    background-color: #8C0000;
    width: 11px;
    height: 11px;
    margin-top: -17px;
    border-radius: 6px;
    position: absolute;
    margin-left: 134px;
}

.job-status {
    margin-left: 130px;
}

.hostpick {
    border-top: 2px solid #4b575f;
    border-bottom: 2px solid #4b575f;
}

/**/

/*color font donut dashboard*/
.cpu {
    color: #F3645B;
}
.ram {
    color: #4D5D95;
}
.avg {
    color: #49ABD9;
}
/**/

/*custom modal windows*/
.modal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: medium none;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
}
/**/

/*custom link*/
a {
    color: #333;
    text-decoration: none
}

a:hover, a:focus {
    color: #333;
    text-decoration: none
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

/*custom pointer*/
.cursor-pointer {
    cursor:pointer;
}
/**/

/*custom popover title*/
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-family:'Roboto-light';
}
/**/

/*custon hover thumbnail*/

.helios-thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 2px solid #373737;
    border-radius: 4px;
    transition: border 0.2s ease-in-out 0s;
}

.helios-thumbnail .caption {
    padding-left: 5px;
}

a.helios-thumbnail:hover, a.helios-thumbnail:focus, a.helios-thumbnail.active {
    border-color: #696969;
}

/**/

.panel-helios {
    border-color: rgb(243, 100, 91);
}

.panel-helios > .panel-heading {
    color: #FFF;
    background-color: #F3645B;
    border-color: #F3645B;
}

/**/
.helios-hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border-right: 0px none;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
/**/

.table-helios {
    margin-bottom: 0px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/**/

/**/
.footer {
    color: #c0c0c0;
}