{% extends 'base.html' %}
{% block container %}
    <div class="row">
        <div class="col-lg-5">
            <h4 class="page-header-helios">Host List</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Ip</th>
                    <th>Uptime</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for hosts in listHost %}
                    <tr{% if hosts.status == 'DOWN' %} class="alert-danger"{% endif %}>
                        <td>{{ hosts.agentInfo.name }}</td>
                        <td>ip</td>
                        <td>{{ hosts.agentInfo.uptime }}</td>
                        <td>{{ hosts.status|lower }}
                        <div class="host-status-{{ hosts.status|lower }}"></div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-7">
            <h4 id="details-host" class="page-header-helios">Details</h4>

            <div class="pull-left cpu">
                <div id="cpu" data-dimension="217" data-text="35%" data-info="CPU" data-width="12"
                     data-fontsize="38" data-percent="35" data-fgcolor="#373737" data-bgcolor="#F3645B"></div>
            </div>
            <div class="pull-left ram">
                <div id="ram" data-dimension="217" data-text="49%" data-info="RAM" data-width="12"
                     data-fontsize="38" data-total="1024" data-part="500" data-fgcolor="#373737"
                     data-bgcolor="#4D5D95"></div>
            </div>
            <div class="pull-left avg">
                <div id="avg" data-dimension="217" data-text="50%" data-info="AVG" data-width="12"
                     data-fontsize="38" data-percent="50.5" data-fgcolor="#373737" data-bgcolor="#49ABD9"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <h4 class="page-header-helios">Jobs</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Port</th>
                </tr>
                </thead>
                <tbody>
                {% for job in listJobs %}
                    <tr>
                        <td><a href="#" class="jobs" data-id="{{ job.id }}">{{ job.id|truncatechars:20 }}</a></td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.version }}</td>
                        <td>{{ job.ports }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-7">
            <h4 class="page-header-helios">Images</h4>
        </div>
    </div>
    </div>
    <!--
    Modal to show Jobs
    -->
    <div class="modal fade" id="job" tabindex="-1" role="dialog" aria-labelledby="jobs" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Details of Job</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    End Modal to show Jobs
    -->
{% endblock %}