<table class="table table-helios">
    <thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Container</th>
        <th>Ports</th>
        <th>State</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobsList %}
        <tr{% if job.state == 'FAILED' %} class="alert-danger"{% elif job.state == 'PULLING_IMAGE' %} class="alert-warning" {% elif job.state == 'CREATING' %} class="alert-success" {% endif %}>
            <td>{{ job.name|truncatechars:25 }}</td>
            <td>{{ job.image }}</td>
            <td>{{ job.containerid|truncatechars:20|default_if_none:'Unknow' }}</td>
            <td>[{{ job.ports.0.externalport }}:{{ job.ports.0.internalport }}]</td>
            <td>{{ job.state|lower }}</td>
            <td>
                <a class="btn btn-default" data-toggle="tooltip"
                   title="{% ifequal job.state 'RUNNING' %}Undeploy Job{% else %}Deploy Job{% endifequal %}"><span
                        class="fa fa-{% ifequal job.state 'RUNNING' %}stop{% else %}pause{% endifequal %}"></span> </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="text-center">There is no jobs running in this server, like run one <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addjob"><span class="fa fa-plus"></span></a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{{ STATIC_URL }}js/helios.js"></script>