{% extends 'base.html' %}
{% load systemtags %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                <a href="#" class="btn btn-info"><span class="fa fa-upload"></span> Load Job</a>
                <a href="#" class="btn btn-success"><span class="fa fa-plus"></span> Create Job</a>
            </div>
            <h4 class="page-header-helios margin-top-helios margin-bottom-helios">Job List</h4>
            <style>
                .highlight { background-color: rgba(243, 100, 91, 0.24); }
            </style>
            <table class="table" id="data">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Image</th>
                    <th>User</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for job in listJob %}
                <tr class="cursor-pointer" data-toggle="collapse" data-target="#{{ forloop.counter0 }}" aria-expanded="false">
                    <td>{{ job.id|truncatechars:25 }}</td>
                    <td>{{ job.id|getName }}</td>
                    <td>{{ job.id|getVersion }}</td>
                    <td>{{ job.image }}</td>
                    <td>{{ job.creatingUser }}</td>
                    <td>
                        <a class="btn btn-default" data-job="{{ job.id|getName }}" data-toggle="tooltip"
                   title="Remove Job"><span class="fa fa-trash-o"></span> </a>
                    </td>
                </tr>
                <tr id="{{ forloop.counter0 }}" class="collapse">
                    <td colspan="6">dfasdfasdf</td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">there's no job to show</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/helios.js"></script>
{% endblock %}