<!-- Modal -->
<div class="modal fade" id="addjob" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Deploy Job to {{ details_host.hostInfo.hostname }}</h4>
      </div>
      <div class="modal-body">
        <select id="jobList" data-host="{{ details_host.hostInfo.hostname }}" data-placeholder="Choose a Job..." class="form-control chosen-select" style="width:350px;" tabindex="2">

          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="deployJob" type="button" class="btn btn-primary">Deploy</button>
      </div>
    </div>
  </div>
</div>
